<header>
    <div class="container">
          <nav class="row" role='navigation'>
              <div class="logo col">
                  <a href="{{ site.baseurl }}" aria-label="Lacedo Security">
                      <img src="/img/lacedo-security-logo-full-color.png" alt="Lacedo Security logo">
                  </a>
              </div>
          </nav>
          <nav role='navigation' class="mobile-menu row">
              <a class="logo-mobile col" href="{{ site.baseurl }}" aria-label="Lacedo Security"><img src="/img/lacedo-security-logo-full-color.png" alt="Lacedo Security logo"></a>
          </nav>
     </div>
 </header>